In [1]:
import pandas as pd

In [ ]:
# Loading and cleaning the crude oil price data
file_path = "/Users/yehana2002/Projects/DSGP/datasets/raw/RWTCd.xls"

In [3]:
df = pd.read_excel(file_path, sheet_name="Data 1", skiprows=2)
df.columns = ["Date", "Crude_Oil_Price"]

In [4]:
df["Date"] = pd.to_datetime(df["Date"])
df = df.sort_values("Date").reset_index(drop=True)

In [5]:
df.to_csv("/Users/yehana2002/Projects/DSGP/datasets/processed/cleaned_global_crude_oil_prices.csv", index=False)

In [6]:
df.head()

        Date  Crude_Oil_Price
0 1986-01-02            25.56
1 1986-01-03            26.00
2 1986-01-06            26.53
3 1986-01-07            25.85
4 1986-01-08            25.87